.background-container {
    position: relative;
    z-index: -1;
}

.backgroundImage {
    position: absolute;
    filter: brightness(90%);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.backgroundImage::before {
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container{
    position: relative;
    z-index: 1;
    transition: opacity 0.5s ease
}